<h1 >Track Generator</h1>

<row>
	<div class="columns small-6">
		
<div class="row">
	<div class="columns small-4 large-2">
		<div class="button" ng-click="generateTrack()">Click!</div>
	</div>
</div>	
<div class="row">
	<div class="columns small-4 large-2">
		<label class="right inline">Length</label>
	</div>
	<div class="columns small-8 large-10">
		<input type="text" ng-model="length">
	</div>
</div>
<div class="row">
	<div class="columns small-4 large-2">
		<label class="right inline">Width</label>
	</div>
	<div class="columns small-8 large-10">
		<input type="text" ng-model="width">
	</div>
</div>
<div class="row">
	<div class="columns small-4 large-2">
		<label class="right inline">Height</label>
	</div>
	<div class="columns small-8 large-10">
		<input type="text" ng-model="height">
	</div>
</div>
<div class="row">
	<div class="columns small-4 large-2">
		<label class="right inline">Depth</label>
	</div>
	<div class="columns small-8 large-10">
		<input type="text" ng-model="depth">
	</div>
</div>
	</div>
</row>