<zthree id="background3d" scene="scene" pose="pose" gravity="gravity" camera="camera"></zthree>

<div id="content" class="container" ng-keydown="keyDown">
  <div class="row">
    <div class="large-12 large-text-center columns">
      
    </div>
  </div>
  <div class="camera">
    <h4 class="ng-hide">Camera</h4>
    <button class="up" ng-click="up()">Up</button>
    <button class="left" ng-click="left()">Left</button><button class="right" ng-click="right()">Right</button>
    <button class="down" ng-click="down()">Down</button>
  </div>

  <div class="position">
    <h4 class="ng-hide">position</h4>
    <button class="up" ng-click="upPosition()">Up</button>
    <button class="left" ng-click="leftPosition()">Left</button><button class="right" ng-click="rightPosition()">Right</button>
    <button class="down" ng-click="downPosition()">Down</button>
  </div>
<!-- 

  X<input type="text" value="{{x}}">
	Y<input type="text" value="{{y}}">
	Z<input type="text" value="{{z}}"> -->
</div>
